/*
comment

*/
}

.main-nav {
  float: right;
}

html body {
  margin: 100;
}

/* Links */
a {
  text-decoration: none;
  border-bottom: none;
  color: rgb(69, 69, 69);
}


/* Menüseiten Christina Wunderlich Titel*/
h1 {
  color: rgb(69, 69, 69);
  font-size: 35px;
  font-family: 'Blue Mono', sans-serif;
  text-transform: uppercase;
  position: relative;
          top: 15px;
          left: 250px;
  float: none;
}

/* Startseite Christina Wunderlich Titel*/
h2 {
  color: rgb(133, 133, 133);
  font-size: 45px;
  font-family: 'Blue Mono', sans-serif;
  text-transform: uppercase;
  position: relative;
          top: 200px;
          left: 220px;
  float: left;
}







p {
  display: block;
  font-family: 'Blue Mono', sans-serif;
  text-transform: uppercase;
  font-size: 14px;

  position: absolute;
          top: 250px;
          left: -30px;
  float: left;
  margin: 0 60%;
  width: 20%;
}

.box1 {
  width: 30%;
  max-width: 30%;
  position: absolute;
          top: 250px;
          left: 250px;
  float: none;
  margin: 0 10%;


}


img {
  position: absolute;
          top: 250px;
          left: -30px;
  float: right;
  margin: 0 20%;

  display: block;

}


}


.container {
  max-width: 940px;
  margin: 0 auto;
}


/* Box Startseite Projects und About*/



ul {
    list-style-type: none;
    margin: 1000;
    padding: 100;
    max-width: 940px;

    overflow: hidden;
    background-color: #ffffff;;
    color: Black;
    font-family: 'Blue Mono', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
            top: 75px;
            left: 200px;


        width: 575px;
    float: left;

}

li {
    float: inherit;
}

li a {
    display: block;
    color: rgb(69, 69, 69);
    text-align: left;
    padding: 15px 85px;
    text-decoration: none;
}

.active {
    background-color: #ffffff;
